<!DOCTYPE html>
<html lang="en">
<head>
<title>Gamezop Task</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
* {
  box-sizing: border-box;
}

body {
  background:url('../images/background.png');
  background-size:cover;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: pink;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    text-align: center;
    z-index: 0;
}

.loaderimg{
    z-index: 99;
    position: absolute;
    top:20%;
    /* background: white; */
    left: 40%;
    opacity: 1 !important;
}

.inputs{
    margin-bottom:20px;
    color:white;
    font-size: 15px;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #e6e5e5;
}

.button{
    text-align: center;
}

.inputs input{
    padding: 5px;
    border-radius: 6px;
    border: none;
    color: black;
}

table{
    width:50% !important;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;    
}

h1{
    text-align: center;
    color: white;
    margin-bottom:25px;
}


</style>
</head>
{{{body}}}
</html>
